.orders-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 600px;
}

.orders-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.orders-table th,
.orders-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.orders-table th {
  background-color: #00a000; /* Green color for thead */
  color: white;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

h4 {
  text-align: left;
}
